body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  color: #766357;
}

.welcome {
  background-image: url("../img/intro-mask.svg"), url("../img/intro-welcome.svg"), url("../img/welcome-sedona.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 50% 100%, 50% 50%, 0 -53px;
  background-size: auto, 459px 353px, cover;

}

main h1,
.button-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

main h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.main-container p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
p.five-reason {
  font-weight: 400;
  padding-bottom: 52px;
  text-align: center;
}

.reason{
  color: #ffffff;
  text-align: center;
  background-color: rgb(129, 179, 210);
}

.service {
  text-align: center;
}

.reason-blue p {
  color: #ffffff;
}

.reason-grey{
  color: #000000;
  background-color: rgb(238, 238, 238);
}

.service-housing {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.service-food {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.service-souvenirs {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

/*.hotel-search {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: 50% 100%, 50% 50%, 0 -53px;*/
  /*background-size: auto, 459px 353px, cover;
}*/


p.hotel-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

p.requesting-dates {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.form-group {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.input-item {
  background-color : rgb(242, 242, 242);
  border: none;
}

.input-item:focus,
.input-item:hover {
  background-color : rgb(235, 235, 235);
  border: none;
}

.hotel-search-form input:focus {
  background-color : rgb(255, 255, 255);
  border: 2px solid rgb(229, 229, 229);
}

.search-options {
  color: #ffffff;
  background-color: rgb(118, 99, 87);
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.filter-option span {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-option {
  /*list-style: none;*/
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 194px;
  margin-right: 62px;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.3);
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color : #000000;
  background-color: #ffffff;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting  ul {
  list-style: none;
}

span.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sorting-item a:focus,
.sorting-item a:hover {
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2
}

.sorting-item a:active {
  text-decoration: none;
  color: #000000;
}

.sorting-trigon a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-trigon a:focus,
.sorting-trigon a:hover {
  color: #000000;
}

.sorting-trigon a:active,
.sorting-item-current a,
.sorting-trigon-current a{
  color: #81b3d2;
  text-decoration: none;
}

.catalog h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog span{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.catalog-rating span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: rgb(242, 242, 242);
}

a.button-info,
.button-find {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: rgb(129, 179, 210);
  border: none;
}

a.button-info:focus,
a.button-info:hover,
.button-find:focus,
.button-find:hover {
  background-color: rgb(102, 158, 192);
}

a.button-info:active,
.button-find:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}

a.button-booking,
.button-search {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: rgb(118, 99, 87);
  border: none;
}

.button-search,
.button-find {
  font-size: 21px;
  line-height: 26px;
}

a.button-booking:focus,
a.button-booking:hover,
.button-search:focus,
.button-search:hover {
  background-color: rgb(96, 78, 67);
}

a.button-booking:active,
.button-search:active {
  background-color: rgb(80, 62, 51);
  color: rgba(255, 255, 255, 0.3);
}

.footer-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

a.social-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: rgb(129, 179, 210);
  border: none;
}

a.social-button:focus,
a.social-button:hover {
  background-color: rgb(102, 158, 192);
}

a.social-button:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}

p.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

/* ----- Сеточные стили ----- */

body {
  /*min-width: 1200px;*/
  margin: 0 auto;
  max-width: 1200px;
}

.main-navigation {
  display: flex;
}

.welcome {
  width: 1200px;
  height: 510px;
  margin-bottom: 59px;
}

main h1 {
 /*padding: auto;*/
 padding-bottom: 33px;
 text-align: center;
 /*padding-up: 59px;*/
}

.container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  /*margin: 0;
  padding: 0;*/
}

.reason {
  width: 400px;
  height: 256px;
 /*padding-top: 45;*/
}

.service{
  width: 400px;
  height: 256px;
}

.sity-views {
  height: 256px;
}

.city-views img,
.search-query img,
.city-views img { /* чтобы картинка вписывалась в размеры своего блока*/
  max-width: 100%;
  height: auto;
  /*max-height:100%*/
  display: block;
}

.search-query {
  /*height: 291px;*/
}

.hotel-question,
.requesting-dates{
  width: 444px;
  text-align: center;
  margin: auto;
}

.hotel-question{
  margin-top: 54px;
}

.button-search{
  width: 568px;
  height: 86px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;  
}

.hotel-search {
  height: 473px;
  display: flex;
}

.hotel-search-form {
  width: 458px;
  height: 285px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
   /*border: 2px solid black;*/
  padding: 55px;
}

.button-find {
  height: 58px;
}

.footer-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 35px 0;
  width: 1200px;
  /*height: 58px;*/
  display: flex;
  justify-content: center;
}

.footer-link {
  width: 155px;
}

.footer-social {
  width: 155px;
  margin-left: 210px;
  margin-right: 220px;
}

.footer-copyright {
  width: 205px;
  /*margin: 0;
  margin-left: auto;*/
}

.filter {
  display: flex;
  padding-top: 28px;
  padding-bottom: 31px;
  padding-left: 73px;
  padding-right: 73px;
}

.filter-cost {
  display: flex;
  flex-direction: column;
}

.sorting {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
}

.sorting-list {
  width: 242px;
  display: flex;
  justify-content: space-between;
}

.sorting-list-trigon {
  display: flex;
  margin-left: auto;
}

.catalog img {
  display: block;
}

.catalog {
  border-top: 1px solid rgb(229, 229, 229);
  display: flex;
  padding: 30px 73px;
}

.catalog:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.catalog-rating {
  margin-left: auto;
}

.description {
  /*display: flex;
  flex-direction: column;*/
  margin-left: 30px;
}

.catalog h3 {
  margin: 0;
}

.filter-cost {
  margin-left: auto;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}







/* Менять цвет svg-картинки Логотип HTML Academy
.footer-copyright a {
  color: #000000;
}

.footer-copyright a:focus,
.footer-copyright a:hover {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}*/
