body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 768px;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 0 15px 0 rgba(0, 1, 1, 0.2), -5px 0 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 5px 0 15px 0 rgba(0, 1, 1, 0.2), -5px 0 15px 0 rgba(0, 1, 1, 0.2);
}

html {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-left {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 10.83% 15px 6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-right {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 15px 6% 15px 11.67%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-navigation a {
  color: #000000;
  display: block;
  vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.site-navigation-current {
  color: #766357;
  pointer-events: none; /*делаем элемент неактивным для взаимодействия*/
  cursor: default; /*курсор в виде стрелки*/
}

.welcome {
  width: 100%;
  height: 510px;
  margin-bottom: 57px;
  background-image: url("../img/intro-welcome.svg"), url("../img/welcome-sedona.jpg");
  position: relative;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, 0 21.5%;
  background-size: 459px 353px, 100% auto;
}

.welcome:after {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: -2px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-size: auto auto;
}

main h1,
.button-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

main h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 160px;
  margin-top: 46px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.main-container p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.five-reason {
  margin: 0;
  margin-bottom: 53px;
  text-align: center;
}

p.five-reason {
  font-weight: 400;
}

.reason{
  color: #ffffff;
  text-align: center;
  background-color: rgb(129, 179, 210);
  width: calc(100% / 3);
  min-height: 256px;
}

.reason p,
.service p {
  margin: 10px 48px 21px 48px;
}

.service p {
  margin-bottom: 83px;
}

.reason-blue p {
  color: #ffffff;
}

.reason-grey{
  color: #000000;
  background-color: rgb(238, 238, 238);
}

.service {
  width: calc(100% / 3);
  text-align: center;
}

.service h3 {
  position: relative;
  margin-top: 161px;
}

.service-housing h3::before {
  content: "";
  width: 84px;
  height: 84px;
  top: -101px;
  left: 42px;
  position: absolute;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.service-food h3::before {
  content: "";
  width: 84px;
  height: 84px;
  top: -101px;
  left: 42px;
  position: absolute;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.service-souvenirs h3::before {
  content: "";
  width: 84px;
  height: 84px;
  top: -105px;
  left: 48px;
  position: absolute;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

p.hotel-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 24px;
}

p.requesting-dates {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.form-group {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.input-item {
  background-color : rgb(242, 242, 242);
  border: none;
}

.input-item:focus,
.input-item:hover {
  background-color : rgb(235, 235, 235);
  border: none;
}

.hotel-search-form .input-item:focus {
  background-color : rgb(255, 255, 255);
  border: 2px solid rgb(229, 229, 229);
}

.search-options {
  color: #ffffff;
  background-color: rgb(118, 99, 87);
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  min-height: 217px;
}

.filter-option span {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 194px;
  margin-right: 61px;
}

.filter-option label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 39px;
  margin-top: 24px;
  margin-right: auto;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -1px;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -39px;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:focus + label {
  outline: 2px solid #369fe0;
}

.filter-input-checkbox {
  opacity: 0;
  position: absolute;
}

.filter-input:disabled + label,
.filter-input:disabled + label::before,
.filter-input:disabled + label::after {
  opacity: 0.4;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color : #000000;
  background-color: #ffffff;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 29px 6.083%;
  padding-bottom: 32px;
  vertical-align: baseline;
}

.sorting-title {
  margin-left: 28px;
  width: 95px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
}

span.sorting-title {
  margin-left: 28px;
  width: 95px;
}

.sorting-list {
  min-width: 238px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-list-trigon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  margin-left: auto;
}

.sorting  ul {
  list-style: none;
}

span.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 135px;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #81b3d2;
          text-decoration-color: #81b3d2;
}

.sorting-item a:focus,
.sorting-item a:hover {
  color: #81b3d2;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #81b3d2;
          text-decoration-color: #81b3d2
}

.sorting-item a:active {
  text-decoration: none;
  color: #000000;
}

.sorting-trigon a {
  margin-left: 12px;
}

.trigon path,
.btn-icon path {
  fill: rgba(0, 0, 0, 0.3);
}

.trigon:hover path,
.trigon:focus path,
.btn-icon:hover path,
.btn-icon:focus path {
  fill: #000000;
}

.trigon:active path,
.sorting-trigon-current path,
.btn-icon:active path {
  fill: #81b3d2;
}

.sorting-item-current a {
  color: #81b3d2;
  text-decoration: none;
}

.catalog h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog span{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.catalog-rating span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: block;
  padding: 4px 12px 3px 15px;
  margin-top: 37px;
  color: #666666;
  background-color: rgb(242, 242, 242);
}

a.button-info {
  width: 110px;
  min-height: 27px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 3px;
  margin-right: 2px;
}

a.button-booking {
  width: 142px;
  min-height: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 3px;
  margin-right: 2px;
}

a.button-info,
.button-find {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(129, 179, 210);
  border: none;
}

a.button-info:focus,
a.button-info:hover,
.button-find:focus,
.button-find:hover {
  background-color: rgb(102, 158, 192);
}

a.button-info:active,
.button-find:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}

a.button-booking,
.button-search {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(118, 99, 87);
  border: none;
}

.button-search,
.button-find {
  font-size: 21px;
  line-height: 26px;
}

a.button-booking:focus,
a.button-booking:hover,
.button-search:focus,
.button-search:hover {
  background-color: rgb(96, 78, 67);
}

a.button-booking:active,
.button-search:active {
  background-color: rgb(80, 62, 51);
  color: rgba(255, 255, 255, 0.3);
}

.footer-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  overflow: hidden;
  color: #000000;
  display: block;
  width: 240px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px;
  padding-left: 25px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  list-style: none;
}

.footer-social {
  text-align: center;
}

.social-button {
  display: block;
  width: 46px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.social-button {
  background-color: rgb(129, 179, 210);
}

a.social-button:focus,
a.social-button:hover {
  background-color: rgb(102, 158, 192);
}

a.social-button:active {
  background-color: rgb(84, 150, 189);
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  padding-left: 11px;
}

.footer-copyright a {
  padding-right: 22px;
}

.footer-copyright b,
.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.footer-copyright a {
  width: 116px;
  height: 40px;
}

.footer-copyright svg:active path {
  fill: #bdbbbc;
}

.footer-copyrigh svg:focus path,
.footer-copyright svg:hover path {
  fill: #81b3d2;
}

.footer-copyright svg:active path {
  fill: #bdbbbc;
}

.main-navigation img {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -70px;
}

main h1 {
  padding: 0;
  display: block;
  width: 440px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.city-views {
  width: calc(100%/3*2);
  background-color: rgb(129, 179, 210);
  overflow: hidden;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.city-views img {
  width: 100%;
}

.search-query img {
  max-width: 100%;
  margin:0 auto;
  min-width: 1200px;
  width: 1200px;
  height: 593px;
}

.search-query {
  position: relative;
  overflow: hidden;
}

.hotel-question,
.requesting-dates{
  width: 444px;
  text-align: center;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  z-index: 4;
}

.button-search{
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  z-index: 4;
}

.hotel-search {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 290px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.search {
  padding-top: 50px;
  padding-bottom: 46px;
  background-color: #ffffff;
  position: relative;
  z-index: 4;
}

.modal-show {
  display: block;
  -webkit-animation: appearance 0.5s linear;
          animation: appearance 0.5s linear;
}

@-webkit-keyframes appearance {

  0% {
    -webkit-transform: translateY(-72%) translateX(-50%);
            transform: translateY(-72%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}

@keyframes appearance {

  0% {
    -webkit-transform: translateY(-72%) translateX(-50%);
            transform: translateY(-72%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}

.hotel-search-form {
  width: 458px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 55px;
  -webkit-box-shadow: 0 7px 15px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px 7px rgba(0, 0, 0, 0.15);
}

.options-date {
  width: 458px;
}

.options-number {
  width: 226px;
}
.options-number:nth-child(2n) {
  width: 180px;
}

.input-number {
  text-align: center;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.form-group label {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 0;
}

.btn-icon {
  width: 34px;
  height: 36px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 0;
  top: 2px;
  padding-left: 2px;
  cursor: pointer;
}

.btn-more {
  right: 0;
  width: 36px;
  padding-top: 0;
  padding-right: 13px;
}

.btn-less {
  right: 78px;
  padding-top: 0;
  padding-right: 10px;
  width: 36px;
}

.btn-less::before,
.btn-more::before,
.btn-more::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 2px;
  background-color: rgb(169, 169, 169);
}

.btn-more::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn-less:hover::before,
.btn-less:focus::before,
.btn-more:hover::before,
.btn-more:focus::before,
.btn-more:hover::after,
.btn-more:focus::after {
  background-color: #000000;
}

.btn-less:active::before,
.btn-more:active::before,
.btn-more:active::after {
  background-color: rgb(129, 179, 210);
}

.input-date {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  padding-right: 45px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.input-number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 114px;
  padding: 0 40px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.button-find {
  width: 458px;
  margin-top: 24px;
  padding: 16px 0;
}

.footer-container {
  min-height: 120px;
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 36px 6.083%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container.inner-page {
  position: static;
  padding-top: 34px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  padding-bottom: 31px;
  padding-left: 6.083%;
  padding-right: 6%;
}

.filter-range {
  width: 318px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 8px;
  margin-left: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
  padding-top: 6px;
}

.price-controls .max-price {
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  width: 138px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-right: 95px;
  margin-left: 85px;
  padding: 6px 0;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.catalog {
  border-top: 1px solid rgb(229, 229, 229);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 6.083%;
  padding-top: 24px;
}

.catalog-image {
  margin-top: 6px;
}

.catalog:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.catalog-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.star {
  width: 18px;
  height: 17px;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.stars {
  margin-top: 5px;
}

.description {
  width: 364px;
  margin-left: 30px;
}

.catalog h3 {
  width: 364px;
  margin: 0;
  margin-bottom: 4px;
}

.btn-group {
  margin-top: 13px;
}

.item-info {
  display: inline-block;
  vertical-align: middle;
  min-width: 110px;
  margin-right: 2px;
}

.search-query iframe {
  width: 100%;
  height: 593px;
  position: absolute;
  z-index: 1;
  border: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
